* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

#container {
    border-radius: 1rem;
    background-color: #dcdcdc;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
}

#smalContainer {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
}

#somme1 {
    height: 6rem;
    width: 18%;
}

.circle {
    background-color: white;
    border-radius: 2rem;
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    display: inline-block;
    margin-top: 1rem;
}

#somme2 {
    height: 6rem;
    width: 80%;
    position: relative;
    left: 20%;
    bottom: 60px;
}

#barre {
    width: 100%;
    height: 30%;
    background-color: white;
    border-radius: 1rem 1rem;
    margin-top: 20px;

}

header {
    border: 1px solid #3d3d3d;
    width: 90%;
    height: 120px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    bottom: 40px;
    background-color: #4b4b4b;
    color: #bdbdbd;
}

#centre {
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    display: inline-block;
    width: 14rem;
    font-size: 2rem;
    margin-top: 4rem;
    margin-left: 1.5rem;
}

#body {
    width: 90%;
    height: 65rem;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    padding-top: 1rem;
}

#title {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 4.5rem;
    color: #4b4b4b;
    margin-top: 1rem;
}

#sidebarre {
    width: 25%;
    height: 45rem;
    border-radius: 1rem;
    background-color: #acacac;
    margin-left: 5rem;
    margin-top: 1rem;
}

#section1 {
    background-color: #acacac;
    width: 60%;
    height: 10rem;
    display: inline-block;
    position: relative;
    left: 36rem;
    bottom: 45rem;
    border-radius: 1rem;
}

h2 {
    font-size: 28px;
    text-align: center;
}

#section2 {
    background-color: #acacac;
    width: 60%;
    height: 30rem;
    display: inline-block;
    position: relative;
    left: 36rem;
    bottom: 40rem;
    border-radius: 1rem;
}

.article {
    width: 28%;
    height: 77%;
    display: inline-block;
    background-color: white;
    margin-left: 2rem;
    margin-top: 2rem;
}

#footer {
    display: block;
    width: 80%;
    height: 5rem;
    color: #424141;
}